@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

* {
  box-sizing: border-box;
  /* margin: 0 auto; */
}

body {
  max-width: 428px;
  max-height: 3000px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
}

header section {
  /* margin-top: 4rem; */
  padding-top: 4rem;
  background-image: url(assets/graphic.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  /* background-position: 260% top; */
  background-position: top right -170px;
}

.launching-soon-section {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  font-size: 1rem;
}

.launching-soon-section h5 {
  font-size: 1rem;
  color: #ff3998;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.launching-soon-section h1 {
  font-weight: bold;
  font-size: 48px;
}

.launching-soon-section p {
  color: #555555;
  font-size: 20px;
  line-height: 30px;
}
.launching-soon-section-top h1,
p {
  width: 70%;
}

/* #pink-robot-picture {
  max-width: 250px;
  min-height: 400px;
  object-fit: fill;
} */
button {
  /* padding: 2rem;
  border: 5px solid;
  border-image: url(assets/background.svg) 40% stretch;
  border-radius: 30px;
  background: linear-gradient(45deg, red, green); */
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  height: 70px;
  margin-bottom: 3rem;
  border: double 2px transparent;
  border-radius: 50px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ff546a, #a9cb84);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.banner {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  background-position: top -10px left -10px;
  background-size: cover;
  margin-bottom: 3rem;
}

.banner h1 {
  font-size: 40px;
  font-weight: 500;
  padding-left: 2rem;
  margin: 0;
}

.banner p {
  width: 100%;
  font-size: 20px;
  padding: 2rem;
  line-height: 30px;
  margin: 0;
}

.companies-logos-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.companies-logos-section img {
  max-width: 50%;
  padding: 0 2rem 2rem;
}

#boomerang-logo {
  display: none;
}

.le-super-rare-auction-section {
  margin: 0 2rem 2rem;
}

.le-super-rare-auction-section h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 3rem;
}

.le-super-rare-auction-section p {
  font-size: 20px;
  line-height: 30px;
}
.nfts-display {
  display: flex;
  flex-direction: row;
  border-bottom: #eeeeee 2px solid;
}
.nfts-display div {
  margin: 0 0 6rem 2rem;
}

table {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 0px 0px 10px 10px;
  margin-top: -4px;
}

th:nth-child(odd) {
  color: #ff8139;
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  padding: 1rem;
}
th:nth-child(even) {
  color: #777777;
  text-transform: uppercase;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  padding: 1rem;
}
tr:nth-child(even) {
  color: #111111;
  font-size: 20px;
  font-weight: 500;
}
tr:nth-child(odd) {
  color: #777777;
  font-size: 18px;
  font-weight: 500;
}
tr td {
  padding: 0 1rem 0.8rem;
}
tr td:nth-child(odd) {
  text-align: left;
}
tr td:nth-child(even) {
  text-align: right;
}

.launching-soon-section-bottom {
  /* margin-top: 4rem; */
  padding-top: 3rem;
  background-image: url(assets/upsell-footer-image.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  /* background-position: 260% top; */
  background-position: bottom right -20px;
  /* border-bottom: #eeeeee 2px solid; */
}
.launching-soon-section-bottom h1,
p {
  width: 55%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  border-top: #eeeeee 2px solid;
}

.footer-logo-section {
  width: 100%;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer h5 {
  font-size: 20px;
  font-weight: 500;
}
footer i {
  color: #999999;
  padding-right: 0.7rem;
}
footer div {
  width: 50%;
}

ul {
  list-style-type: none;
}
ul li:first-of-type {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

ul li:not(:first-of-type) {
  font-size: 20px;
  padding-bottom: 0.7rem;
}
li a {
  text-decoration: none;
}
footer p {
  width: 100%;
  color: #999999;
  font-size: 20px;
  padding-left: 2rem;
}
